Package: docsis-pnm
Version: 1.0
Section: custom
Priority: optional
Architecture: all
Essential: no
Maintainer: Stephan Sedlmeier
Description: Tool for querying large quantities of DOCSIS cable modems for proactive network maintenance (PNM).
